In [67]:
#Import Libraries that we require

import pandas as pd
import numpy as np
import ast 
from library.sb_utils import save_file 

tmdb_reviews = pd.read_csv('tmdb10kmovies.csv')
tmdb_reviews.head()

,Unnamed: 0,adult,backdrop_path,genres,id,imdb_id,original_language,overview,popularity,poster_path,release_date,runtime,tagline,title,vote_average,vote_count,actors,director,keywords
0,0,False,/jXJxMcVoEuXzym3vFnjqDW4ifo6.jpg,"['Action', 'Adventure', 'Fantasy']",572802,tt9663764,en,"Black Manta, still driven by the need to aveng...",5841.384,/7lTnXOy0iNtBAdRP3TZvaKJ77F6.jpg,2023-12-20,124,The tide is turning.,Aquaman and the Lost Kingdom,7.013,1156,"['Jason Momoa', 'Patrick Wilson', 'Yahya Abdul...",['James Wan'],"['superhero', 'secret society', 'half-brother'..."
1,1,False,/yOm993lsJyPmBodlYjgpPwBjXP9.jpg,"['Comedy', 'Family', 'Fantasy']",787699,tt6166392,en,Willy Wonka – chock-full of ideas and determin...,2333.391,/qhb1qOilapbapxWQn9jtRCMwXJF.jpg,2023-12-06,117,Every good thing in this world started with a ...,Wonka,7.200,1660,"['Timothée Chalamet', 'Calah Lane', 'Keegan-Mi...",['Paul King'],"['chocolate', 'musical', 'prequel', 'duringcre..."
2,2,False,/ehumsuIBbgAe1hg343oszCLrAfI.jpg,"['Animation', 'Family', 'Fantasy', 'Adventure']",1022796,tt11304740,en,"Asha, a sharp-witted idealist, makes a wish so...",1662.711,/AcoVfiv1rrWOmAdpnAMnM56ki19.jpg,2023-11-13,95,Be careful what you wish for.,Wish,6.638,538,"['Ariana DeBose', 'Chris Pine', 'Alan Tudyk', ...",['Chris Buck'],"['friendship', 'musical', 'computer animation'..."
3,3,False,/meyhnvssZOPPjud4F1CjOb4snET.jpg,"['Animation', 'Adventure', 'Comedy', 'Family',...",940551,tt6495056,en,After a migrating duck family alights on their...,1486.310,/ldfCF9RhR40mppkzmftxapaHeTo.jpg,2023-12-06,83,Odd ducks welcome.,Migration,7.830,390,"['Kumail Nanjiani', 'Elizabeth Banks', 'Caspar...",['Benjamin Renner'],"['duck', 'migration', 'flight', 'anthropomorph..."
4,4,False,/tLxjbT5ROZRwYcpNT3nfQbqkApk.jpg,"['Science Fiction', 'Adventure', 'Action']",609681,tt10676048,en,"Carol Danvers, aka Captain Marvel, has reclaim...",1397.918,/9GBhzXMFjgcZ3FdR9w3bUMMTps5.jpg,2023-11-08,105,Higher. Further. Faster. Together.,The Marvels,6.415,1328,"['Brie Larson', 'Teyonah Parris', 'Iman Vellan...",['Nia DaCosta'],"['hero', 'superhero', 'space travel', 'based o..."

In [69]:
#Dropping Unnamed, backdrop_path, and poster_path Columns because they will be of no use in modeling.
tmdb_clean= tmdb_reviews.drop(columns=['Unnamed: 0', 'poster_path', 'backdrop_path'])
tmdb_clean.head()

,adult,genres,id,imdb_id,original_language,overview,popularity,release_date,runtime,tagline,title,vote_average,vote_count,actors,director,keywords
0,False,"['Action', 'Adventure', 'Fantasy']",572802,tt9663764,en,"Black Manta, still driven by the need to aveng...",5841.384,2023-12-20,124,The tide is turning.,Aquaman and the Lost Kingdom,7.013,1156,"['Jason Momoa', 'Patrick Wilson', 'Yahya Abdul...",['James Wan'],"['superhero', 'secret society', 'half-brother'..."
1,False,"['Comedy', 'Family', 'Fantasy']",787699,tt6166392,en,Willy Wonka – chock-full of ideas and determin...,2333.391,2023-12-06,117,Every good thing in this world started with a ...,Wonka,7.200,1660,"['Timothée Chalamet', 'Calah Lane', 'Keegan-Mi...",['Paul King'],"['chocolate', 'musical', 'prequel', 'duringcre..."
2,False,"['Animation', 'Family', 'Fantasy', 'Adventure']",1022796,tt11304740,en,"Asha, a sharp-witted idealist, makes a wish so...",1662.711,2023-11-13,95,Be careful what you wish for.,Wish,6.638,538,"['Ariana DeBose', 'Chris Pine', 'Alan Tudyk', ...",['Chris Buck'],"['friendship', 'musical', 'computer animation'..."
3,False,"['Animation', 'Adventure', 'Comedy', 'Family',...",940551,tt6495056,en,After a migrating duck family alights on their...,1486.310,2023-12-06,83,Odd ducks welcome.,Migration,7.830,390,"['Kumail Nanjiani', 'Elizabeth Banks', 'Caspar...",['Benjamin Renner'],"['duck', 'migration', 'flight', 'anthropomorph..."
4,False,"['Science Fiction', 'Adventure', 'Action']",609681,tt10676048,en,"Carol Danvers, aka Captain Marvel, has reclaim...",1397.918,2023-11-08,105,Higher. Further. Faster. Together.,The Marvels,6.415,1328,"['Brie Larson', 'Teyonah Parris', 'Iman Vellan...",['Nia DaCosta'],"['hero', 'superhero', 'space travel', 'based o..."

In [71]:
tmdb_clean.dtypes

adult                   bool
genres                object
id                     int64
imdb_id               object
original_language     object
overview              object
popularity           float64
release_date          object
runtime                int64
tagline               object
title                 object
vote_average         float64
vote_count             int64
actors                object
director              object
keywords              object
dtype: object

In [73]:
#Converting release_date dtype from object to datetime

tmdb_clean['release_date'] = pd.to_datetime(tmdb_clean['release_date'], errors= 'coerce')
tmdb_clean.dtypes

adult                          bool
genres                       object
id                            int64
imdb_id                      object
original_language            object
overview                     object
popularity                  float64
release_date         datetime64[ns]
runtime                       int64
tagline                      object
title                        object
vote_average                float64
vote_count                    int64
actors                       object
director                     object
keywords                     object
dtype: object

In [75]:
#To Check whether there are any missing values in the dataset

missing_val = tmdb_clean.isnull().sum().sort_values(ascending = False)
print(missing_val)

tagline              2268
imdb_id               216
overview               72
release_date           19
adult                   0
genres                  0
id                      0
original_language       0
popularity              0
runtime                 0
title                   0
vote_average            0
vote_count              0
actors                  0
director                0
keywords                0
dtype: int64

In [77]:
#Keeping 'title' as identifier for interpretation not as a model feature.
#Dropping 'tagline', 'imdb_id', and 'overview' columns because we will not be using it for modeling.

tmdb_clean = tmdb_clean.drop(columns = ['imdb_id', 'tagline','overview'])
tmdb_clean.head()

,adult,genres,id,original_language,popularity,release_date,runtime,title,vote_average,vote_count,actors,director,keywords
0,False,"['Action', 'Adventure', 'Fantasy']",572802,en,5841.384,2023-12-20,124,Aquaman and the Lost Kingdom,7.013,1156,"['Jason Momoa', 'Patrick Wilson', 'Yahya Abdul...",['James Wan'],"['superhero', 'secret society', 'half-brother'..."
1,False,"['Comedy', 'Family', 'Fantasy']",787699,en,2333.391,2023-12-06,117,Wonka,7.200,1660,"['Timothée Chalamet', 'Calah Lane', 'Keegan-Mi...",['Paul King'],"['chocolate', 'musical', 'prequel', 'duringcre..."
2,False,"['Animation', 'Family', 'Fantasy', 'Adventure']",1022796,en,1662.711,2023-11-13,95,Wish,6.638,538,"['Ariana DeBose', 'Chris Pine', 'Alan Tudyk', ...",['Chris Buck'],"['friendship', 'musical', 'computer animation'..."
3,False,"['Animation', 'Adventure', 'Comedy', 'Family',...",940551,en,1486.310,2023-12-06,83,Migration,7.830,390,"['Kumail Nanjiani', 'Elizabeth Banks', 'Caspar...",['Benjamin Renner'],"['duck', 'migration', 'flight', 'anthropomorph..."
4,False,"['Science Fiction', 'Adventure', 'Action']",609681,en,1397.918,2023-11-08,105,The Marvels,6.415,1328,"['Brie Larson', 'Teyonah Parris', 'Iman Vellan...",['Nia DaCosta'],"['hero', 'superhero', 'space travel', 'based o..."

In [79]:
tmdb_clean.dtypes

adult                          bool
genres                       object
id                            int64
original_language            object
popularity                  float64
release_date         datetime64[ns]
runtime                       int64
title                        object
vote_average                float64
vote_count                    int64
actors                       object
director                     object
keywords                     object
dtype: object

In [81]:
# Setting id column as index
tmdb_clean = tmdb_clean.set_index('id')

In [93]:
#Setting title column as first column for better readibility
cols = ['title'] + [col for col in tmdb_clean.columns if col != 'title']
tmdb_clean = tmdb_clean[cols]
tmdb_clean.head()

,title,adult,genres,original_language,popularity,release_date,runtime,vote_average,vote_count,actors,director,keywords
id,,,,,,,,,,,,
572802,Aquaman and the Lost Kingdom,False,"['Action', 'Adventure', 'Fantasy']",en,5841.384,2023-12-20,124,7.013,1156,"['Jason Momoa', 'Patrick Wilson', 'Yahya Abdul...",['James Wan'],"['superhero', 'secret society', 'half-brother'..."
787699,Wonka,False,"['Comedy', 'Family', 'Fantasy']",en,2333.391,2023-12-06,117,7.200,1660,"['Timothée Chalamet', 'Calah Lane', 'Keegan-Mi...",['Paul King'],"['chocolate', 'musical', 'prequel', 'duringcre..."
1022796,Wish,False,"['Animation', 'Family', 'Fantasy', 'Adventure']",en,1662.711,2023-11-13,95,6.638,538,"['Ariana DeBose', 'Chris Pine', 'Alan Tudyk', ...",['Chris Buck'],"['friendship', 'musical', 'computer animation'..."
940551,Migration,False,"['Animation', 'Adventure', 'Comedy', 'Family',...",en,1486.310,2023-12-06,83,7.830,390,"['Kumail Nanjiani', 'Elizabeth Banks', 'Caspar...",['Benjamin Renner'],"['duck', 'migration', 'flight', 'anthropomorph..."
609681,The Marvels,False,"['Science Fiction', 'Adventure', 'Action']",en,1397.918,2023-11-08,105,6.415,1328,"['Brie Larson', 'Teyonah Parris', 'Iman Vellan...",['Nia DaCosta'],"['hero', 'superhero', 'space travel', 'based o..."

In [95]:
#Quick check to see if we missed something missing
missing_val = tmdb_clean.isnull().sum().sort_values(ascending = False)
print(missing_val)

title                0
adult                0
genres               0
original_language    0
popularity           0
release_date         0
runtime              0
vote_average         0
vote_count           0
actors               0
director             0
keywords             0
dtype: int64

In [97]:
tmdb_clean = tmdb_clean.dropna(subset = ['release_date'])

In [99]:
tmdb_clean.head(20)

,title,adult,genres,original_language,popularity,release_date,runtime,vote_average,vote_count,actors,director,keywords
id,,,,,,,,,,,,
572802,Aquaman and the Lost Kingdom,False,"['Action', 'Adventure', 'Fantasy']",en,5841.384,2023-12-20,124,7.013,1156,"['Jason Momoa', 'Patrick Wilson', 'Yahya Abdul...",['James Wan'],"['superhero', 'secret society', 'half-brother'..."
787699,Wonka,False,"['Comedy', 'Family', 'Fantasy']",en,2333.391,2023-12-06,117,7.200,1660,"['Timothée Chalamet', 'Calah Lane', 'Keegan-Mi...",['Paul King'],"['chocolate', 'musical', 'prequel', 'duringcre..."
1022796,Wish,False,"['Animation', 'Family', 'Fantasy', 'Adventure']",en,1662.711,2023-11-13,95,6.638,538,"['Ariana DeBose', 'Chris Pine', 'Alan Tudyk', ...",['Chris Buck'],"['friendship', 'musical', 'computer animation'..."
940551,Migration,False,"['Animation', 'Adventure', 'Comedy', 'Family',...",en,1486.310,2023-12-06,83,7.830,390,"['Kumail Nanjiani', 'Elizabeth Banks', 'Caspar...",['Benjamin Renner'],"['duck', 'migration', 'flight', 'anthropomorph..."
609681,The Marvels,False,"['Science Fiction', 'Adventure', 'Action']",en,1397.918,2023-11-08,105,6.415,1328,"['Brie Larson', 'Teyonah Parris', 'Iman Vellan...",['Nia DaCosta'],"['hero', 'superhero', 'space travel', 'based o..."
1212073,Sixty Minutes,False,"['Action', 'Drama']",de,1028.278,2024-01-19,89,6.912,170,"['Emilio Sakraya', 'Dennis Mojen', 'Marie Mour...",['Oliver Kienle'],[]
965571,Patriots Time,False,"['Action', 'War']",ru,830.989,2022-04-28,101,9.700,16,"['Daniyar Alshinov', 'Sanurzhan Suleymenov', '...",['Serikbol Utepbergenov'],[]
1058694,Radical,False,['Drama'],en,774.377,2023-10-19,127,8.626,139,"['Eugenio Derbez', 'Daniel Haddad', 'Jennifer ...",['Christopher Zalla'],"['usa–mexico border', 'teachers and students',..."
799155,Attack,False,"['Action', 'Science Fiction', 'Thriller']",hi,751.443,2022-04-01,123,7.412,85,"['John Abraham', 'Serena Walia', 'Rakul Preet ...",['Lakshya Raj Anand'],"['parliament', 'super soldier', 'soldier', 'in..."
955916,Lift,False,"['Action', 'Comedy', 'Crime', 'Drama']",en,740.964,2024-01-10,106,6.499,616,"['Kevin Hart', 'Gugu Mbatha-Raw', 'Sam Worthin...",['F. Gary Gray'],"['gold', 'gang of thieves', 'heist', 'airplane..."
753342,Napoleon,False,"['History', 'War', 'Drama']",en,725.308,2023-11-22,158,6.533,1507,"['Joaquin Phoenix', 'Vanessa Kirby', 'Rupert E...",['Ridley Scott'],"['empire', 'france', 'biography', 'napoleon bo..."
906126,Society of the Snow,False,"['Drama', 'History']",es,668.258,2023-12-13,144,8.104,1543,"['Enzo Vogrincic', 'Agustín Pardella', 'Matías...",['J. A. Bayona'],"['rescue', 'friendship', 'based on novel or bo..."
866398,The Beekeeper,False,"['Action', 'Thriller', 'Drama']",en,647.361,2024-01-10,105,7.331,284,"['Jason Statham', 'Emmy Raver-Lampman', 'Bobby...",['David Ayer'],"['potus', 'secret government agency', 'fbi age..."
1072790,Anyone But You,False,"['Comedy', 'Romance']",en,555.055,2023-12-21,104,7.446,168,"['Sydney Sweeney', 'Glen Powell', 'Alexandra S...",['Will Gluck'],"['australia', 'hiking', 'college', 'romantic c..."
848187,Role Play,False,"['Action', 'Comedy', 'Romance']",en,510.517,2023-12-14,101,6.067,253,"['Kaley Cuoco', 'David Oyelowo', 'Bill Nighy',...",['Thomas Vincent'],"['assassin', 'husband wife relationship', 'sec..."
508883,The Boy and the Heron,False,"['Animation', 'Adventure', 'Fantasy']",ja,501.597,2023-07-14,124,7.465,871,"['Soma Santoki', 'Masaki Suda', 'Ko Shibasaki'...",['Hayao Miyazaki'],"['based on novel or book', 'loss of loved one'..."
792307,Poor Things,False,"['Science Fiction', 'Romance', 'Comedy']",en,494.869,2023-12-07,141,8.178,618,"['Emma Stone', 'Mark Ruffalo', 'Willem Dafoe',...",['Yorgos Lanthimos'],"['based on novel or book', 'obsession', 'crook..."
872585,Oppenheimer,False,"['Drama', 'History']",en,463.169,2023-07-19,181,8.114,6461,"['Cillian Murphy', 'Emily Blunt', 'Matt Damon'...",['Christopher Nolan'],"['husband wife relationship', 'based on novel ..."
982940,Due Justice,False,"['Crime', 'Thriller', 'Action']",en,445.866,2023-11-24,98,7.143,7,"['Kellan Lutz', 'William Forsythe', 'Jeff Fahe...",['Javier Reyna'],"['crime boss', 'vigilante', 'crime syndicate',..."
1028703,The OctoGames,False,"['Thriller', 'Action', 'Horror']",en,443.902,2022-10-07,88,5.911,56,"['Lacy Hartselle', 'Cale Adcock', 'Luv Patel',...",['Aaron Mirtes'],"['遊戲', '挑戰極限', '組團打怪']"

In [121]:
#Checking if the list of actors and genres are strigified lists
type(tmdb_clean['genres'].iloc[0])

str

In [123]:
type(tmdb_clean['actors'].iloc[0])

str

In [125]:
#Parsing stringified lists column to list, by importing ast
for col in ['genres', 'actors', 'keywords', 'director']:
    tmdb_clean[col] = tmdb_clean[col].apply(lambda x: ast.literal_eval(x) if isinstance (x,str) else x)

type(tmdb_clean['genres'].iloc[0])
type(tmdb_clean['actors'].iloc[0])

list

In [127]:
#The Stringified lists have already been parsed above.
#Using the explode() function to turn the list in the cell into multiple rows.
#We will group them later in pre processing, to make more features like avg_popularity.

actors_exploded = tmdb_clean.explode('actors')
#Cleaning actor names to get rid of unnecessary space 
actors_exploded['actors'] = actors_exploded['actors'].str.strip()

In [129]:
#Final check to see if we have any missing values left
tmdb_clean.isna().sum()

title                0
adult                0
genres               0
original_language    0
popularity           0
release_date         0
runtime              0
vote_average         0
vote_count           0
actors               0
director             0
keywords             0
dtype: int64

In [131]:
#Final check on dtypes to make sure everything is in order
tmdb_clean.dtypes

title                        object
adult                          bool
genres                       object
original_language            object
popularity                  float64
release_date         datetime64[ns]
runtime                       int64
vote_average                float64
vote_count                    int64
actors                       object
director                     object
keywords                     object
dtype: object

In [133]:
#saving files
tmdb_clean.to_csv('tmdb_clean.csv')

In [137]:
#Summary of Notebook
In this project, the TMDb dataset was cleaned and structured to prepare it for further analysis and modeling.
The workflow began with the removal of unnecessary columns and the conversion of release_date from string to datetime format to ensure consistency. 
Missing values in critical columns were identified and handled appropriately.
Several columns such as genres, actors, keywords, and director contained stringified lists,
which were parsed into native Python objects using ast.literal_eval() to make them usable for downstream processing.
The dataset was reorganized for better readability by setting id as the index and placing title as the first column. 
These steps completed the data wrangling process, resulting in a clean and structured dataset, 
ready for feature engineering and exploratory data analysis in the subsequent phases.

SyntaxError: invalid syntax (1577026180.py, line 2)